*.obj
*.sc
*.htm*
*.dep
*.pdb
*.ncb
*.manifest
*.suo
*.idb
*chm_src*
*/filter_test/*
*/obj/*
*/Debug/*
*sc/*
*.zip
*.opt
*.ilk
*.exp
*.plg
*.user
*setup.exe
options.dat
*.rar
*/VT_Search_Cache/*
*/VirusTotal/VT_Search_Cache/*
*hc.dat